<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JanHafner.Smartbar.PackageAuthoring.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SmartbarPackageAuthoring.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartbarPackageAuthoring.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JanHafner.Smartbar.PackageAuthoring.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>t7U4+]QM~8Au}E*{PPxccb2W{v_t,UXsnejwV98=#7n=J3x76z8t=JN/2MCm4PsJYb6f?V3YqcGX64rx3~P?t3TB/;8xjA/k##/P[G4\(nLDC9unk;F_KmAtdsQnS</value>
            </setting>
            <setting name="NugetServerUrl" serializeAs="String">
                <value>http://smartbarpluginsfeed.azurewebsites.net</value>
            </setting>
            <setting name="NugetServerPackageFeedSuffix" serializeAs="String">
                <value>nuget</value>
            </setting>
            <setting name="NugetPackageFileNamePattern" serializeAs="String">
                <value>{0}.{1}</value>
            </setting>
            <setting name="NuspecFileExtension" serializeAs="String">
                <value>nuspec</value>
            </setting>
            <setting name="PackageFileExtension" serializeAs="String">
                <value>nupkg</value>
            </setting>
        </JanHafner.Smartbar.PackageAuthoring.Properties.Settings>
    </applicationSettings>
</configuration>